@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #2e97bd;
  border-radius: 8px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  height: 90vh;
  margin: auto;
  margin-top: 8px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 228, 32);
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
}

.sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid grey;
  border-radius: 8px;
  padding: 0 16px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid lightgreen;
  margin-top: 10px;
  text-align: center;
}
